
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class="content">
	<div class="container">
		<div class="">
			<form>
				<label>Chọn phim</label>
				<input type="text" 
					name="name" 
					class="form-control" 
					id="name" 
					autocomplete='off'>
				<select 
					id="showSearch" 
					class="form-control"
					style="display: none" 						
					>
					<div class="op">
						<option>them</option>
					</div>
				</select>
				<!-- <div id='showSearch' class="form-control"></div> -->
				<select>
					<option></option>
					<option></option>
				</select>
				<label>Chọn ngày</label>
				<input 
					type="text" 
					name="dayss" 
					class="form-control"
					>

				<select class="form-control" name='day' id='day'>
					<!-- <option class="days" value="Monday">Thứ 2</option>
					<option class="days" value="Tuesday">Thứ 3</option>
					<option class="days" value="Wednesday">Thứ 4</option>
					<option class="days" value="Thursday">Thứ 5</option>
					<option class="days" value="Friday">Thứ 6</option>
					<option class="days" value="Saturday">Thứ 7</option>
					<option class="days" value="Sunday">Chủ nhật</option> -->
					<option class="days" value="-1">Select</option>
					<option class="days" id= 2 value="1">Monday</option>
					<option class="days" id= 3 value="2">Tuesday</option>
					<option class="days" id= 4 value="3">Wednesday</option>
					<option class="days" id= 5 value="4">Thursday</option>
					<option class="days" id= 6 value="5">Friday</option>
					<option class="days" id= 7 value="6">Saturday</option>
					<option class="days" id= 8 value="-1">Sunday</option>
				</select>
				<label>Thời gian bắt đầu</label>
				<input type="text" name="timestart" class="form-control">

				</form>	
		</div>
	</div>
</div>

<!-- <script type="text/javascript">
	$("#name").on('keyup',function(){
		var name = $('#name').val();
		$.ajax({
			url:'search',
			method:"post",			
			data: {name:name}
		}).done(function(req,res){
			console.log('Thanh cong',req,res);
			if (req){
				//req.forEach(item => $('#showSearch').html(item.name))
				//$('#showSearch').css('display','block')
				
			}
		})
	})
</script> -->

<script type="text/javascript">
	
	$(function(){

		$('#name').on('keyup',function(){
			var name = $('#name').val();

			$.ajax({
				url: 'search',
				method:'post',
				//data: {name:name}
				//res : success
			}).done(function(req,res){
				var names = [];
				req.forEach(item => names.push(item.name))
				$('#name').autocomplete({
					source: names
				})
			})
		})
	})

	$(function(){
		$(document).ready(function(){
			$.ajax({
				url: 'getday',
				method:'post',
				data: {current_day:current_day}
			}).done(function(req,res){
				$('.days').each(function(index,attribute){
					//console.log(index,attribute.value)
					if (attribute.value !== '-1')
						if (req > attribute.value){
							//$('.days')[0].css('display','none')
							$(this).css('display','none')
								//console.log(attribute.value)

						}

				})
			})
		})
	})

	var today = new Date('2020-10-02')
	var current_day = today.getDay()
	//alert(current_day)
</script>
